body {
  position: relative;
}

.container {
  margin-top: 100px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #e8e8e8 !important;
}

#background0 {
  background-image: url(./Z01.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  height: 80vh;
  background-attachment: fixed;
  border-radius: 0px 0px 900px 900px;
}
#background01 {
  background-color: #e8e8e8;
  height: 80vh;
  border-radius: 0px 0px 900px 900px;
}
#section001 {
  border-radius: 900px 200px 900px 200px;
  background-color: #f5f4f4;
}

#Kontakt {
  background-color: #f5f4f4;
  border-radius: 800px 800px 0px 0px;
}

#footer {
  background-color: #e8e8e8;
}
#id1 {
  background-color: #e8e8e8;
  height: 80vh;
  border-radius: 50px 900px 50px 800px;
}
#id2 {
  background-color: #e8e8e8;
  height: 80vh;
  border-radius: 900px 50px 900px 50px;
}
#id3 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 250px 250px 0px 0px;
  box-shadow: 4px 4px 4px rgba(98, 98, 98, 0.6);
}
#id4 {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 250px 250px 0px 0px;
  box-shadow: 4px 4px 4px rgba(98, 98, 98, 0.6);
}
h1 {
  font-family: "Cinzel", serif;
  color: white;
  font-size: 11rem !important;
  text-shadow: 2px 2px 2px rgba(144, 144, 144, 0.3);
}
p {
  font-family: "Cinzel", serif;
  color: #e8e8e8;
  font-size: 8rem !important;
  text-shadow: 2px 2px 2px rgba(224, 224, 224, 0.3);
}

h2 {
  font-family: "Cinzel", serif;
  font-size: 3rem !important;
  color: white !important;
}

h3 {
  font-size: 1.8rem !important;
  font-family: "Cormorant Garamond", serif;
  color: #5f5f5f !important;
}

h4 {
  font-size: 1.1rem !important;
  font-family: "Montserrat", sans-serif;
  color: #5f5f5f !important;
}

h5 {
  font-family: "Montserrat", sans-serif;
  color: #5f5f5f;
}

@media (min-width: 992px) and (max-width: 1600px) {
  #background0 {
    height: 60vh;
  }
  h1 {
    font-size: 9rem !important;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  p {
    font-size: 6rem !important;
  }
}

@media (max-width: 992px) {
  #background0 {
    height: 50vh;
  }
  #background01 {
    height: 60vh;
  }
  h1 {
    font-size: 5rem !important;
  }
  h2 {
    font-size: 1.5rem !important;
  }
  h3 {
    font-size: 1.5rem !important;
  }
  h4 {
    font-size: 1rem !important;
  }
  h5 {
    font-size: 0.8rem !important;
  }
  div {
    padding-top: 20px !important;
  }
  p {
    font-size: 4rem !important;
  }
}
@media (max-width: 700px) {
  #background0 {
    height: 40vh;
    margin-top: 40px;
  }
}
